<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>StudyForge Support</title>
  </head>
  <body>
    <h1>StudyForge Support</h1>
    <p>User tickets live in StudyForge at <code>/support</code>. This page is staff sign-in only if you need the queue. Anonymous tickets are not allowed.</p>
    <p><a href="/staff">Staff queue</a></p>
    {% if studyforge_web_url %}
    <p><a href="{{ studyforge_web_url }}">Back to StudyForge</a></p>
    {% endif %}
    {% include "partials/firebase_auth.html" %}
  </body>
</html>
